@charset "utf-8";
/* CSS Document */

body {	
	color: #666;
	font-family:  Arial, Geneva, Helvetica, Sans-serif;
	font-size: 80%;  /* equivalent to 13px */
	text-align: center;
/*	line-height: 18px;*/
	margin: 0;
	padding: 0px 0px 5px 0px;
}

a {
	color: #004276;
	text-decoration: none;
}

a image { border:none;}

#logo_area2 img {
	width:90%;
	}

h2 a {
	color:#02254a;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #02254a;

}



h2 a:hover, a:active {
	border-bottom-width: none;
	border-bottom-style: none;
	border-bottom-color: none;
	text-decoration: none;
	
	
}
a:hover, a:active {
	text-decoration: underline;
}
h3 {padding:5px 0 0 0; margin:5px 0 0 0;}


h3 {color:#444; font-family:  Arial, Geneva, Helvetica, Sans-serif;}
h3 a {color:#444; text-decoration: underline;}
h3 a:hover, a:active {
	text-decoration: none;
}


h2 {color:#02254a; font-family:  Arial, Geneva, Helvetica, Sans-serif;}

nav#pri-nav ul, #department ul, #tag-line ul, #quick-systems ul #footer-nav ul{
margin: 0;
padding: 0px;
}

nav#clindept li,nav#commit li,nav#inpat li,nav#centers li{
	padding-bottom:5px;
	
	margin-left:10px;
	list-style-position: outside;
	list-style-image: none;
	list-style-type: disc;
}



#breaking-news{color:#c00; font-weight:bold;}
#breaking-news a {color:#c00; font-weight:bold;}
#breaking-news li {padding:0; margin:0;}

div#creditfooter { display:none;}
		div.feedburnerFeedBlock li { padding-bottom:10px;}
div.feedburnerFeedBlock ul div {display:none;}

section#links div.feedburnerFeedBlock ul {
	list-style-position: outside;
	list-style-type: disc;
	padding-left:10px;
}

.feedburnerFeedBlock ul li span.headline  {line-height: normal;}

.top-pad {padding-top:5px; color:#FFF;}

#home #content #left li, #home #content #center li, #home #content #right li {padding-left:5px; }

#home #content #left h2, #home #content #center h2, #home #content #right h2 {background-color:#eee; border-top: solid 1px #fdb945; }

.pipe {
	color:#fdb945; font-weight: bolder; font-size: 130%; line-height:100%;
	}



@media screen and (min-width: 980px) {
div.wrap {
width: 960px;
margin: 0px auto;
padding: 0;
text-align: left;
}

#dir-link {display:none;}
.back{
width: 100%;
height: 170px;
display:block;
background-color: #0b3b68;

box-shadow:  inset 0px -1px  black, inset 0px -200px 100px -100px #2e5da1, inset 0px 30px #3b6ab7;
-moz-box-shadow:  inset 0px -1px  black, inset 0px -200px 100px -100px #2e5da1, inset 0px 30px #3b6ab7;
-webkit-box-shadow:  inset 0px -1px  black, inset 0px -200px 100px -100px #2e5da1, inset 0px 30px #3b6ab7;
position: relative;
} 

.line-tab{
  padding:7px 29px 10px 29px;
  font-size:14px;
 font-weight:bold;
  text-align: center;
  white-space: nowrap;
  box-shadow: inset 0 4px 3px -3px #587db4;
  -moz-box-shadow:  inset 0 4px 1px -3px #587db4;
  -webkit-box-shadow: inset 0 4px 1px -3px #587db4;
color:#fff;
text-decoration:none;
font-family:  Arial, Geneva, Helvetica, Sans-serif;
}
.active {
  padding:10px 29px 10px 29px;
  
  background: #fff;
   font-size:14px;
font-weight:bold;
  
color: #2e5da1;
  text-align: center;
  white-space: nowrap;
  border-radius: 3px 3px 0px 0px; -moz-border-radius: 3px 3px 0px 0px; -webkit-border-radius: 3px 3px 0px 0px;
  box-shadow: inset 0px 15px 2px #f1f0ed;
  -moz-box-shadow:  inset 0px 15px 2px #f1f0ed;
  -webkit-box-shadow: inset 0px 15px 2px #f1f0ed;
text-decoration:none;
}
.active:hover, .line-tab:hover { text-decoration:underline;
}

li.pri-tab {
display:block;
float:left;
padding-right:30px;
}
li.last {
display:block;
float:left;
padding-right:0px;
}
nav#pri-nav {
padding-bottom:7px;
bottom:0px;
position:absolute;
clear:both;
margin-bottom:-1px;
}

#top { 
color:#fff;
padding-top:7px;
}
header {

	}

#logo {
	float:left;
	clear:left;
	padding-top:20px;
	background-image: url(../images/UMHSLogo.png);
	background-repeat: no-repeat;
	background-position: left bottom;
width: 120px;
height:80px;
}
#logo a{display:none;}
#site-name {
float:left;
padding-top:20px;
width:300px;


}

#department  {
display:block;
float:left;
}
#department li { list-style:none;
}
#department a {
color:#fff;
font-size:30px;
font-weight:bold;
font-family: "Times New Roman", Times, serif;
text-decoration:none;
font-family: 'Open Sans', sans-serif;
font-weight: 400;


}
#tag-line { text-align:center;}

#tag-line li{display:block;

clear:both;
}
#tag-line a {

color:#fff;
font-size:14px;
font-weight:bold;



text-decoration:none;
}


#logo_area2 {
	clear:left;
	float:left;
	width:557px;
	padding-top: 30px;
	}
	
#logo_area2 img {
	width:100%;
	}

#search {
float:right;
padding-top:10px;
clear:both;
}

#right-side-header {
	float:left;
	width:400px;

}
#quick-systems {
padding-top:15px;
float:right;
clear:both;
}
#quick-systems li {float:left;
display:block; text-align: center;  position:relative;
border-right: #3968b4 1px solid;
padding-right:10px;
padding-left:10px;
}
#quick-systems a {color:#fff; mragin-top:30px; display:block; font-weight:bold;}
#breaking-news{ padding: 10px 10px 5px;}
#footer-nav {
padding-top: 0px;

clear:both;
}
#footer-nav ul{
padding-top: 0px;
padding-left:0px;
margin-top:0px;
margin-left: 0px;
text-align:center;
}
#footer-nav li {
display:inline-block; text-align: center;  position:relative;
border-right: #fdb945 1px solid;
padding-right:10px;
padding-left:10px;

}
#footer-nav a {display:block;}


#top-nav {
padding-top: 0px;
display:block;
clear:both;
}
#top-nav ul{
	

margin-right:0px;
margin-top:-13px;

margin-left:0px;
padding:0px;

clear:both;
}
#top-nav li {float:left;
display:block;   
border-right: #fdb945 1px solid;
padding-right:10px;
padding-left:10px;
}
#top-nav a {color:#fff; display:block;}

/*li#va {
	background-image: url(va.png);
	background-repeat: no-repeat;
	background-position: center top;
} 
li#careweb {
	background-image: url(careweb.png);
	background-repeat: no-repeat;
	background-position: center top;
} 
li#outlook {
	background-image: url(outlook.png);
	background-repeat: no-repeat;
	background-position: center top;
} */

li.lastlink {
border-right:none !important;
padding-right:0px !important;
}
#left, #center, #right, #news {float:left;}
#left h2, #center h2, #right h2, #news h2, #left ul, #center ul, #right ul, #news ul {
margin: 0;
padding: 0px;
list-style:none;
}
#left, #center, #right {
padding-right:7px;
padding-left:7px;

width:235px;

}

body#ref #left, body#con #left {
padding-right:24px;
padding-left:7px;

width:351px;

}

body#ref #right, body#con #right {
padding-right:7px;
padding-left:7px;
width:351px;

}

body#con #center {
padding-right:24px;
padding-left:7px;
padding-top:20px;
width:716px;

clear:left;

}

body#onecol #left {padding-right:24px;
padding-left:7px;
width:716px;}

table h3 {color:#ffffff; padding:10px;}

ul.conlink h3 {padding:0; margin:0;}

#news {float:right;}

#sidenews {
	background-image: url(../images/back-grade-bar.png);
	background-repeat: no-repeat;
	background-position: left top;	
	margin-left:-11px;
	padding-left:11px;
	
	}
		
#headlinesfeed li {
    list-style-position: outside;
    list-style-type: disc;
    margin-left: 15px;
	padding-bottom: 7px;
}

#other2 {
	
	background-image: url(../images/back-grade-bar.png);
	background-repeat: no-repeat;
	background-position: left top;	
	margin-left:-11px;
	padding-left:11px;
}


#news {
width:200px;padding-left:10px;
border-left: 1px solid #CCCCCC;

}
#left h2, #center h2, #right h2, #news h2{    padding:5px;
    margin-top: 15px; margin-bottom:5px;}


#content { line-height:18px; font-size:12px;}
#content h2 { font-size:16px;}

    nav select {
      display: none;
    }

    #news h2 {color:#02254a; font-size:14px;}
	
.hidetext {display:none;}

footer {
border-top:#ccc 1px solid;
width:920px;
clear:both;
float:left;
padding:20px;
margin-top:20px;

}




.searchbox_submit {
	border:0px;
	background-color:transparent;
	position:absolute;
	top:4px;
	left:215px;
	width:34px;
	height:25px;
}
#search {
	width:250px;
	height:25px;
	background-image:url(../images/search.png);
	background-repeat:no-repeat;
	position:relative;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 20px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

#search form {
	display:inline;
}

#search-box {
	background-color:transparent;
	color:#666666;
	font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;
	font-size:12px;
	border:0 none;
	height:16px;
	position:relative;
	width:200px;
	margin-top: 3px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 5px;
}
.removetext { display:block;}
	}
@media screen and (max-width: 979px) {

div.wrap {
	width: 100%;
	margin: 0px auto;
	padding: 0;
	}
	
.back{
	width: 100%;
	display:block;
	background-color: #0b3b68;
	box-shadow:  inset 0px -1px  black, inset 0px -200px 100px -100px #2e5da1, inset 0px 30px #3b6ab7;
	-moz-box-shadow:  inset 0px -1px  black, inset 0px -200px 100px -100px #2e5da1, inset 0px 30px #3b6ab7;
	-webkit-box-shadow:  inset 0px -1px  black, inset 0px -200px 100px -100px #2e5da1, inset 0px 30px #3b6ab7;
} 
#logo_area {
displa:block;
	width:100%;
	clear:both;
	padding-top:35px;
	margin: 0px auto;
}
#logo_area2 {
displa:block;
	width:100%;
	clear:both;
	padding-top:45px;
	margin: 0px auto;
}
#logo {
	float:left;
	margin-top: 7px;
	margin-left: 5px;
	
	background-image: url(../images/UMHSLogo.png);
	background-repeat: no-repeat;
	background-position: left top;
	background-size: contain;
    width: 60px;
	height: 60px;
}
#logo a{
	display:none;
}
#site-name {
	
	float:left;
	clear:right;
	padding-left:5px;
	padding-bottom:10px;
	
}
#department  {
	
}
#department li { 
	list-style:none;
}
#department a {
	color:#fff;
	font-size:24px;
	font-weight:bold;
	font-family: "Times New Roman", Times, serif;
	text-decoration:none;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}
#tag-line { }

#tag-line li{
		
}
#tag-line a {
	color:#fff;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
}
#right-side-header {
    
}
nav#quick-systems {
    position:absolute; 
	top:6px; 
	right:3px; 
	width:140px; 
	overflow:hidden; 
	background: url("images/arrow.png") no-repeat scroll 120px 5px;
}
nav#quick-systems select {
	background:transparent;  
	color:#fff; 
	font-weight:bold; 
	-webkit-appearance: none; 
	width:160px;}
nav ul { 
	display: none; 
}
		
nav select { 
	  display: inline-block; 
}

#left, #center, #right {

}

#left, #center, #right, #news {
	float:none; 
	width:100%;
}

#content nav {
	padding-bottom:10px;
	padding-top:10px;
	border-bottom: #ccc 1px solid;
}
.hidetext {
	display:inline;
}
select {border:none; padding-left:5px;}


#content nav {		
	 width:100%; 
 
}






#content nav select {
	
	background:transparent;  
	  font-weight:bold; 
	 -webkit-appearance: none; 
	 -moz-appearance: menuitem;
	 width:99%;
	 background: url("images/arrow-blue.png") no-repeat scroll 99% 3px;
	

}

#other2 {
	
	display:none;
}



ul.conlink h3, h3.h3link {padding:8px 0 10px 5px; border-bottom:1px solid #cccccc;}
ul.conlink h3 a, h3.h3link a {color:#000;}
ul.conlink {margin:0; padding:0; text-align:left; list-style-type:none;}
h3.h3link {text-align:left;}
#top-nav, #footer-nav {
	display:none;
}
div.removetext {display:none;}

body#con #center {
display:none;

}

 nav#pri-nav  {
	 position:absolute; 
	 top:6px;  
	 width:170px; 
	 overflow:hidden; 
	 background: url("images/arrow.png") no-repeat scroll 150px 5px;
}
 
 nav#pri-nav select {
	 background:transparent;  
	 color:#fff; font-weight:bold; 
	 -webkit-appearance: none; 
	 width:190px;
	 
}

   
	
.searchbox_submit {
	width:37px;
	height:25px;
	background-image:url(../images/search.png);
	background-repeat:no-repeat;
	background-position: right;	
	position:absolute;
	
		
}
#search {
	position:relative;
	display:block;
	top:10px;
	margin-right:50px;
	margin-left:20px;
	padding-right:50px;
	padding-bottom: 15px;

	
}

#search form {
	
	
	

	

}

#search-box {
	padding:3px;
	width:150px;
	
	
	
}

.top-pad {
    padding-left: 50px;
    padding-top: 5px;
}

.removetext { display:none;}

form#form1 { padding-bottom:10px; margin-bottom:10px; color:#000; border-bottom:1px solid #cccccc;}

 }
/*@media screen and (max-width: 960px)
and (min-width: 481px) {
	div.wrap {
	width: 100%;
	margin: 0px auto;
	padding: 0;
	text-align: left;
	}
#right-side-header {
    float: none;
    width:250px;
	padding-top:20px;
}
      

#left, #center, #right {
padding-right:5px;
padding-left:5px;

width:200px;
border-right:#ccc 1px solid;
}

#left, #center, #right, #news {float:left;}
      nav#pri-nav ul, nav#quick-systems ul { display: none; }
		
      nav#pri-nav select, nav#quick-systems select { display: inline-block; }

    }*/


